.loadingbarpage3 {
    width: 100%;
    position: relative;
    height: 729px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #8a252c;
    font-family: var(--font-montserrat);
  }
  
  .bar-red2 {
    position: absolute;
    top: calc(50% + 48px);
    left: 648px;
    box-shadow: 0 4px 4px rgba(255, 255, 255, 0.25) inset;
    border-radius: 50px;
    background-color: #8a252c;
    width: 290px;
    height: 12px;
  }