.pop-up-general-report2-child {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-3xs);
    background: linear-gradient(180deg, #fdfbc9 54%, #f9d67b);
    width: 585px;
    height: 717px;
  }
  .group-child8,
  .group-child9,
  .pop-up-general-report2-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  .group-child9 {
    top: 6px;
    left: 6px;
    border-radius: var(--br-xl);
    width: 13px;
    height: 13px;
  }
  .ellipse-parent3 {
    position: absolute;
    top: 97px;
    left: 0;
    width: 351px;
    height: 25px;
  }
  .vehicle-accidents {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 182px;
    height: 23px;
  }
  .ellipse-parent4 {
    position: absolute;
    top: 235px;
    left: 0;
    width: 218px;
    height: 25px;
  }
  .group-child12,
  .group-child13 {
    position: absolute;
    top: 62.2px;
    left: 0;
  }
  .group-child13 {
    top: 124px;
  }
  .environmental-accidents1,
  .facility-related-accidents1,
  .health-related-accidents1 {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 272px;
    height: 23.5px;
  }
  .environmental-accidents1,
  .health-related-accidents1 {
    top: 62.2px;
    width: 265px;
  }
  .health-related-accidents1 {
    top: 126px;
  }
  .ellipse-parent5 {
    position: absolute;
    top: 373px;
    left: 0;
    width: 308px;
    height: 149.5px;
  }
  .laboratory-accidents1 {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 272px;
    height: 23px;
  }
  .ellipse-parent6 {
    position: absolute;
    top: 166px;
    left: 0;
    width: 308px;
    height: 25px;
  }
  .equipment-related-accidents {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 315px;
    height: 23px;
  }
  .ellipse-parent7,
  .general-report1 {
    position: absolute;
    top: 304px;
    left: 0;
    width: 351px;
    height: 25px;
  }
  .general-report1 {
    top: 0;
    left: 95px;
    font-size: var(--font-size-13xl);
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 350px;
    height: 30px;
  }
  .group-child16,
  .group-container {
    position: absolute;
    top: 45px;
    left: 48px;
    width: 445px;
    height: 522.5px;
  }
  .group-child16 {
    top: 0;
    left: 0;
    border-radius: var(--br-61xl);
    background-color: var(--color-brown);
    width: 114px;
    height: 31px;
  }
  .next1 {
    position: absolute;
    top: 1px;
    left: 10px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    height: 30px;
  }
  .rectangle-parent7 {
    position: absolute;
    top: 626px;
    left: 236px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    width: 114px;
    height: 31px;
    mix-blend-mode: normal;
    cursor: pointer;
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .pop-up-general-report2-item {
    position: absolute;
    top: 14px;
    left: 28px;
    width: 37.6px;
    height: 37.4px;
    cursor: pointer;
  }
  .pop-up-general-report2 {
    width: 100%;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 725px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-brown);
    font-family: var(--font-montserrat);
  }
  