.pop-up-category1-child {
    width: 585px;
    height: 634px;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-3xs);
    background: linear-gradient(180deg, #fdfbc9 54%, #f9d67b);
    display: none;
    max-width: 100%;
  }
  .pop-up-category1-item {
    width: 37.6px;
    height: 37.4px;
    position: relative;
    cursor: pointer;
    z-index: 1;
  }
  .indicator,
  .radio-button-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .indicator {
    top: 3px;
    left: 3px;
    border-radius: 50%;
    background-color: var(--color-brown);
    width: 14px;
    height: 14px;
    z-index: 2;
  }
  .radio-button-11,
  .status {
    width: 20px;
    height: 20px;
    position: relative;
  }
  .radio-button-11 {
    cursor: pointer;
    margin: 0;
    z-index: 1;
  }
  .radio-buttons,
  .radio-buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .radio-buttons {
    gap: 115.5px;
  }
  .radio-buttons-wrapper {
    padding: var(--padding-10xs) 0 0;
  }
  .critical-emergency {
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .critical-emergency-critical {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-mini);
    z-index: 1;
  }
  .definitions,
  .definitions1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
  }
  .definitions1 {
    padding: 0 0 var(--padding-base);
    gap: var(--gap-sm);
  }
  .general-report {
    width: 179px;
    position: relative;
    font-weight: 600;
    display: inline-block;
    z-index: 1;
  }
  .definitions2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-6xs);
    gap: var(--gap-xs);
  }
  .frame-child {
    height: 31px;
    width: 114px;
    position: relative;
    border-radius: var(--br-61xl);
    background-color: var(--color-brown);
    display: none;
  }
  .proceed {
    flex: 1;
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 94px;
    z-index: 1;
  }
  .button-container,
  .rectangle-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .rectangle-parent {
    width: 114px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    border-radius: var(--br-61xl);
    background-color: var(--color-brown);
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-3xs) 0;
    mix-blend-mode: normal;
    cursor: pointer;
    z-index: 1;
  }
  .button-container {
    width: 402px;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .report-type {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-9xl);
    min-width: 276px;
    max-width: 100%;
  }
  .container,
  .frame-parent,
  .pop-up-category1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-smi);
    max-width: 100%;
  }
  .container,
  .pop-up-category1 {
    box-sizing: border-box;
  }
  .container {
    width: 475px;
    flex-direction: row;
    padding: 0 9px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-brown);
    font-family: var(--font-montserrat);
  }
  .pop-up-category1 {
    width: 100%;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-3xs);
    background: linear-gradient(180deg, #fdfbc9 54%, #f9d67b);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-sm) var(--padding-9xl) 54px;
    gap: 79.6px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 525px) {
    .pop-up-category1 {
      gap: 40px;
    }
  }
  @media screen and (max-width: 450px) {
    .critical-emergency,
    .general-report,
    .proceed {
      font-size: var(--font-size-base);
    }
    .pop-up-category1 {
      gap: var(--gap-xl);
    }
  }
  