.PopUpReportFinalPage {
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: linear-gradient(180deg, #fdfbc9 54%, #f9d67b);
  width: 585px;
  height: 580px;
  color: #8a252c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}


.back-button-containerFR {
  position: absolute;
  top: 30px; 
  left: 38px;
  width: 64px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.back-bgFR {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #8a252c;
  width: 70%;
  height: 70%;
}
.back-iconFR {
  position: absolute;
  top: 8px;
  left: 9px;
  width: 27.6px;
  height: 27.4px;
  cursor: pointer;
}
.back-button-containerFR:hover {
  transform: scale(1.1);
}


.Description-Container {
  position: absolute;
  top: 60px;
  left: 139px;
  width: 308px;
  height: 71px;
}
.Description-Input {
  position: absolute;
  top: 33px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #FFFFFF;
  width: 308px;
  height: 40px;
  resize: none;
  box-sizing: border-box;
}
.Description-Input:focus {
  border-color: #8A252C; 
  outline: none; 
}
.Description-Input:focus::placeholder {
  color: #8A252C; 
}


.Location-Container {
  position: absolute;
  top: 170px;
  left: 139px;
  width: 308px;
  height: 71px;
}
.t-name {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 17px;
  display: inline-block;
  width: 146px;
  height: 17px;
}
.type-here {
  position: absolute;
  top: 43px;
  left: 11px;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  width: 75px;
  height: 18px;
}


.Choose-Location {
  position: absolute;
  top: 210px;
  left: 413px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
}
  

.Upload-Photo-Container {
  position: absolute;
  top: 285px;
  left: 139px;
  display: inline-block;
  width: 340px;
  height: 17px;
}
.for-evidence {
  font-size: 14px;
  font-weight: 600;
}
  

.Camera-Container {
  position: absolute;
  top: 335px;
  left: 165px;
  width: 97px;
  height: 87px;
  cursor: pointer;
  font-size: 15px;
}
.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  background-color: #FFFFFF;
  width: 97px;
  height: 87px;
}
.n-camera {
  position: absolute;
  top: 52px;
  left: 17px;
  font-weight: 500;
  display: inline-block;
  width: 64px;
  height: 18px;
}
.bicamera-icon {
  position: absolute;
  height: 44.83%;
  width: 41.24%;
  top: 5.75%;
  right: 28.87%;
  bottom: 49.43%;
  left: 29.9%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

 
.Upload-Container {
  position: absolute;
  top: 335px;
  left: 330px;
  width: 97px;
  height: 87px;
  cursor: pointer;
  font-size: 15px;
}
.n-upload {
  position: absolute;
  top: 52px;
  left: 7px;
  font-weight: 500;
  display: inline-block;
  width: 82px;
  height: 18px;
}
.symbolupload-icon {
  position: absolute;
  top: 5px;
  left: 28px;
  width: 40px;
  height: 39px;
  overflow: hidden;
}


.ReportFinal-next-button {
  position: absolute;
  top: 480px;
  left: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  mix-blend-mode: normal;
  cursor: pointer;
}
  