.pop-up-urgent-situation2-child {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-3xs);
    background: linear-gradient(180deg, #fdfbc9 54%, #f9d67b);
    width: 585px;
    height: 717px;
  }
  .group-child8 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .physical-accidents1 {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 315px;
    height: 23px;
  }
  .group-child9 {
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: var(--br-xl);
    width: 13px;
    height: 13px;
  }
  .ellipse-parent3 {
    position: absolute;
    top: 91px;
    left: 0;
    width: 351px;
    height: 25px;
  }
  .vehicle-accidents {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 265px;
    height: 23px;
  }
  .ellipse-parent4 {
    position: absolute;
    top: 229px;
    left: 0;
    width: 301px;
    height: 25px;
  }
  .facility-related-accidents1 {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 266px;
    height: 23px;
  }
  .ellipse-parent5 {
    position: absolute;
    top: 367px;
    left: 0;
    width: 302px;
    height: 25px;
  }
  .laboratory-accidents1 {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 272px;
    height: 23px;
  }
  .ellipse-parent6 {
    position: absolute;
    top: 160px;
    left: 0;
    width: 308px;
    height: 25px;
  }
  .equipment-related-accidents {
    position: absolute;
    top: 1px;
    left: 36px;
    display: inline-block;
    width: 310px;
    height: 23px;
  }
  .ellipse-parent7 {
    position: absolute;
    top: 298px;
    left: 0;
    width: 346px;
    height: 25px;
  }
  .urgent-situation1 {
    position: absolute;
    top: 0;
    left: 117px;
    font-size: var(--font-size-13xl);
    font-weight: 600;
    display: inline-block;
    width: 350px;
    height: 30px;
  }
  .group-child14,
  .group-container {
    position: absolute;
    top: 51px;
    left: 48px;
    width: 467px;
    height: 392px;
  }
  .group-child14 {
    top: 0;
    left: 0;
    border-radius: var(--br-61xl);
    background-color: var(--color-brown);
    width: 114px;
    height: 31px;
  }
  .next1 {
    position: absolute;
    top: 1px;
    left: 10px;
    font-weight: 500;
    display: inline-block;
    width: 94px;
    height: 30px;
  }
  .rectangle-parent7 {
    position: absolute;
    top: 626px;
    left: 236px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    width: 114px;
    height: 31px;
    mix-blend-mode: normal;
    cursor: pointer;
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-poppins);
  }
  .pop-up-urgent-situation2-item {
    position: absolute;
    top: 14px;
    left: 28px;
    width: 37.6px;
    height: 37.4px;
    cursor: pointer;
  }
  .pop-up-urgent-situation2 {
    width: 100%;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 717px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-brown);
    font-family: var(--font-montserrat);
  }
  