.a-login {
  width: 100%;
  position: relative;
  height: 810px;
  overflow: hidden;
  text-align: left;
  color: black;
  font-family: var(--font-montserrat);
}

.loginbox {
    position: absolute;
    top: 172px;
    left: 850px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 489px;
    height: 450px;
    opacity: 0.7;
  }

  .loginT {
    position: absolute;
    top: 90px;
    left: 770px;
    font-size: 40px;
    color: #8A252C;
    font-weight: 700;
    width: 117px;
    height: 38px;
  }

  .passinput,
  .emailinput {
    position: absolute;
    top: 265px;
    left: 925px;
    box-sizing: border-box;
    width: 357px;
    height: 47px;
  }
  .passinput {
    top: 425px;
  }

  .institutional-email {
    position: absolute;
    top: 215px;
    left: 900px;
    font-weight: 600;
    font-size: 20px;
    color: #8A252C;
    display: inline-block;
    width: 193px;
    height: 24px;
  }
  .passN {
    position: absolute;
    top: 375px;
    left: 902px;
    font-weight: 600;
    font-size: 20px;
    color: #8A252C;
    display: inline-block;
    width: 193px;
    height: 24px;
  }

  .login-button {
    position: absolute;
    top: 530px;
    left: 1020px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
    mix-blend-mode: normal;
  }


  