.ws-sign-in {
    width: 100%;
    position: relative;
    height: 729px;
    overflow: hidden;
    text-align: left;
    color: #8a252c;
    font-family: var(--font-montserrat);
}

.back-bgSI {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #8a252c;
    width: 100%;
    height: 100%;
}

.back-iconSI {
    position: absolute;
    top: 10px;
    left: 15px;
    width: 35px;
    height: 41px;
    overflow: hidden;
}

.back-button-container {
    position: absolute;
    top: 65px;
    left: 290px;
    width: 64px;
    height: 60px;
    cursor: pointer;
}

.back-button-container:hover {
    transform: scale(1.1);
}

.main-boxSI {
    position: absolute;
    top: 35px;
    left: 240px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 1070px;
    height: 655px;
    transition: all 0.5s ease; /* Smooth transition */
}

.main-bgSI {
    position: absolute;
    top: 105px;
    left: 390px;
    border-radius: 100px;
    width: 372px;
    height: 526px;
    object-fit: cover;
    opacity: 0.9;
    mix-blend-mode: normal;
}


.main-titleSI {
    position: absolute;
    top: 180px;
    left: 455px;
    width: 261px;
    height: 206px;
    object-fit: cover;
}

.welcomeSI {
    position: absolute;
    top: 190px;
    left: 975px;
    font-size: 30px;
    display: inline-block;
    font-weight: 700;
    width: 178px;
    height: 33px;
}

.sub-title2 {
    position: absolute;
    display: inline-block;
    top: 230px;
    left: 945px;
    font-weight: 400;
    font-size: 20px;
    width: 231px;
    height: 21px;
}

.id-number-in,
.P-name {
    position: absolute;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    width: 120px;
    height: 21px;
}

.id-number-in {
    left: 870px;
    top: 305px;
}

.P-name {
    top: 410px;
    left: 870px;
}

.id-number-b,
.P-box {
    position: absolute;
    left: 865px;
    background-color: white;
    border: 2px solid #8a252c;
    box-sizing: border-box;
    width: 347px;
    height: 39px;
    border-radius: 20px;
    padding-left: 10px; /* Add padding for left alignment */
}

.id-number-b {
    top: 335px;
}

.P-box {
    top: 440px;
}

.SIContainer {
    position: absolute;
    top: 510px;
    left: 980px;
    width: 119px;
    height: 39px;
    cursor: pointer;
    color: white;
}

.SIContainer:hover {
    transform: scale(1.1);
}

.SIButton {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #8a252c;
    width: 115px;
    height: 39px;
}

.SIName {
    position: absolute;
    top: 5px;
    left: 20px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    width: 79px;
    height: 23px;
}

.q4 {
    position: absolute;
    top: 585px;
    left: 880px;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    width: 240px;
    height: 21px;
}

.q5 {
    position: absolute;
    top: 585px;
    left: 1125px;
    font-weight: 650;
    font-size: 20px;
    display: inline-block;
    text-decoration: underline;
    width: 240px;
    height: 21px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .back-bgSI {
        top: 9%;
        left: 9%;
        width: 40px;
        height: 40px;
    }
    .back-iconSI {
        top: 9.7%;
        left: 10%;
        width: 24px;
        height: 30px;
    }

    .main-boxSI{
        top: 6%;
        left: 50%;
        transform: translateX(-50%);
        width: 87%;
        height: 88%;
    }
    .main-bgSI{
        display: none;
    }
    .main-titleSI{
        display: none;
    }
    
    .welcomeSI {
        top: 13%;
        left: 54%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 25px;
        text-align: center;
    }
    .sub-title2 {
        top: 20%;
        left: 53%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 18px;
        text-align: center;
    }

    .id-number-in,
    .P-name {
        top: auto;
        left: 61%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 18px;
    }

    .id-number-in {
        top: 33%;
    }

    .P-name {
        top: 49%;
    }

    .id-number-b,
    .P-box {
        top: auto;
        left: 51%;
        transform: translateX(-50%);
        width: 53%;
        height: 36px;
    }

    .id-number-b {
        top: 38%;
    }

    .P-box {
        top: 54%;
    }

    .SIContainer {
        top: 67%;
        left: 52%;
        transform: translateX(-50%);
        width: 20%;
        height: auto;
    }

    .SIButton {
        width: 100%;
        height: 40px;
    }

    .SIName {
        top: 7px;
        left: 54%;
        transform: translateX(-50%);
        font-size: 18px;
    }

    .q4,
    .q5 {
        top: auto;
        left: 70%;
        transform: translateX(-50%);
        width: 80%;
        font-size: 18px;
    }

    .q4 {
        top: 77%;
    }

    .q5 {
        top: 77%;
        left: 100%;
    }
}

@media (max-width: 500px) {
    .back-bgSI {
        top: 9%;
        left: 10%;
        width: 43px;
        height: 41px;
    }
    .back-iconSI {
        top: 9.7%;
        left: 11.9%;
        width: 26px;
        height: 30px;
    }

    .main-boxSI{
        top: 5.5%;
        left: 50%;
        transform: translateX(-50%);
        width: 87%;
        height: 80%;
    }
    .main-bgSI{
        display: none;
    }
    .main-titleSI{
        display: none;
    }
    
    .welcomeSI {
        top: 13%;
        left: 54%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 25px;
        text-align: center;
    }
    .sub-title2 {
        top: 20%;
        left: 53%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 18px;
        text-align: center;
    }

    .id-number-in,
    .P-name {
        top: auto;
        left: 61%;
        transform: translateX(-50%);
        width: 70%;
        font-size: 18px;
    }

    .id-number-in {
        top: 33%;
    }

    .P-name {
        top: 49%;
    }

    .id-number-b,
    .P-box {
        top: auto;
        left: 51%;
        transform: translateX(-50%);
        width: 53%;
        height: 36px;
    }

    .id-number-b {
        top: 38%;
    }

    .P-box {
        top: 54%;
    }

    .SIContainer {
        top: 65%;
        left: 52%;
        transform: translateX(-50%);
        width: 20%;
        height: auto;
    }

    .SIButton {
        width: 100%;
        height: 40px;
    }

    .SIName {
        top: 7px;
        left: 54%;
        transform: translateX(-50%);
        font-size: 18px;
    }

    .q4,
    .q5 {
        top: auto;
        left: 60%;
        transform: translateX(-50%);
        width: 80%;
        font-size: 18px;
    }

    .q4 {
        top: 75%;
    }

    .q5 {
        top: 75%;
        left: 105%;
    }
}