@media only screen and (min-width: 700px) {
    .post-card {
      width: 610px;
      height: 428px;
      background-color: #fefdd9;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    }
  
    .card-container {
      width: 550px;
      height: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .name-container {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .name-container h5 {
      font-size: 16px;
      font-weight: 500;
      color: #8a252c;
      width: 100%;
    }
  
    .card-contents {
      width: 432px;
      display: flex;
      flex-direction: column;
    }
  
    .card-contents img {
      width: 100%;
      height: 158px;
      border-radius: 10px;
    }
  
    .text-designs h5 {
      font-size: 15px;
      font-weight: bold;
      color: #8a252c;
    }
  
    .text-designs span {
      font-size: 15px;
      font-weight: lighter;
      color: #8a252c;
    }
  
    .footer-line {
      width: 505px;
      height: 1px;
      background-color: #000000;
    }
  
    .footer-actions {
      width: 432px;
      display: flex;
      margin-top: 10px;
      justify-content: center;
    }
  
    .footer-icons {
      height: 50px;
      width: 100%;
      display: flex;
      gap: 15px;
      background-color: transparent;
    }
  
    .footer-icons button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .footer-comments {
      height: 100%;
      display: flex;
      align-items: center;
      color: #8a252c;
    }
  
    .footer-comments button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #8a252c;
      font-size: 16px;
      font-weight: bold;
    }
  }
  
  @media (min-device-width: 320px) and (max-width: 699px) {
    .post-card {
      width: 400px;
      height: 428px;
      background-color: #fefdd9;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    }
  
    .card-container {
      width: 350px;
      height: 420px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .name-container {
      width: 350px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  
    .name-container h5 {
      font-size: 16px;
      font-weight: 500;
      color: #8a252c;
      width: 100%;
    }
  
    .card-contents {
      width: 350px;
      display: flex;
      flex-direction: column;
    }
  
    .card-contents img {
      width: 100%;
      height: 158px;
      border-radius: 10px;
    }
  
    .text-designs h5 {
      font-size: 15px;
      font-weight: bold;
      color: #8a252c;
    }
  
    .text-designs span {
      font-size: 15px;
      font-weight: lighter;
      color: #8a252c;
    }
  
    .footer-line {
      width: 350px;
      height: 1px;
      background-color: #000000;
    }
  
    .footer-actions {
      width: 350px;
      display: flex;
      margin-top: 10px;
      justify-content: center;
    }
  
    .footer-icons {
      height: 50px;
      width: 100%;
      display: flex;
      gap: 15px;
      background-color: transparent;
    }
  
    .footer-icons button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .footer-comments {
      height: 100%;
      display: flex;
      align-items: center;
    }
  
    .footer-comments button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: #8a252c;
      font-size: 16px;
      font-weight: bold;
    }
  }
  