.admin-profile {
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, #fdfbc9 54.1%, #f9d67b);
  height: 750px;
  overflow: hidden;
  text-align: left;
  color: #8A252C;
  font-family: var(--font-montserrat);
}

.nav-link {
  text-decoration: none; 
  color: #8A252C;
}

  .admin-profile-container {
    position: absolute;
    top: 138px;
    left: 750px;
    background-color: rgba(255, 255, 255, 0.88);
    width: 625px;
    height: 520px;
  }
  .institutional-email-name {
    margin: 0;
  }
  .institutional-email-container,
  .new-password,
  .old-password {
    position: absolute;
    top: 166px;
    left: 820px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    width: 193px;
    height: 24px;
  }
  .new-password,
  .old-password {
    top: 300px;
    width: 142px;
  }
  .new-password {
    top: 440px;
    width: 154px;
  }

  .e-input1 {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 207px;
    left: 840px;
  }
  .e-input2 {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 345px;
    left: 370px;
  }
  .e-input3 {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 480px;
    right: 100px;
  }
  
  .update-container {
    position: absolute;
    top: 580px;
    left: 1205px;
    width: 105px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgba(138, 37, 44, 0.81); 
    border-radius: 10px; 
}
.update-box {
    display: none; 
}
.update {
    position: relative; 
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin: 0 auto; 
}


.dp-bg {
  top: 138px;
  left: 140px;
  border-radius: 0 0 100px 100px;
  width: 372px;
  height: 555px;
  opacity: 0.35;
  mix-blend-mode: normal;
}
  .admin-dp,
  .dp-bg{
    position: absolute;
    object-fit: cover;
  }
  
  .admin-dp {
    top: 178px;
    left: 250px;
    border-radius: 76px;
    width: 157px;
    height: 152px;
  }
  .role-name,
  .admin-name {
    position: absolute;
    top: 377px;
    left: 240px;
    font-size: 25px;
    font-weight: 600;
  }
  .role-name {
    top: 422px;
    left: 265px;
    font-size: 20px;
    font-weight: 500;
  }
  .admin-edu {
    position: absolute;
    top: 517px;
    left: 225px;
    font-size: 20px;
    font-weight: 600;
  }
  
  .logout-container {
    position: absolute;
    top: 600px;
    left: 260px;
    width: 114px;
    height: 31px;
  }
